<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.boomyboom.krthreads</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Applications/BoomyBoom-Biz/run_kr_threads_draft.sh</string>
    </array>
    <key>WorkingDirectory</key><string>/Applications/BoomyBoom-Biz</string>
    <!-- 19:30 한국장 마감 스레드 (브리핑 19:00 이후) -->
    <key>StartCalendarInterval</key>
    <dict><key>Hour</key><integer>19</integer><key>Minute</key><integer>30</integer></dict>
    <key>StandardOutPath</key><string>/Applications/BoomyBoom-Biz/logs/krthreads.launchd.out.log</string>
    <key>StandardErrorPath</key><string>/Applications/BoomyBoom-Biz/logs/krthreads.launchd.err.log</string>
    <key>RunAtLoad</key><false/>
</dict>
</plist>
